{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'template1/assets/img/kr.png'%}" rel="icon">
  <link href="{%static 'template1/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'template1/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'template1/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'template1/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{%static 'template1/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{%static 'template1/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{%static 'template1/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{%static 'template1/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'template1/assets/css/style.css' %}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{%static 'css/homepage.css' %}">
 <script type="text/javascript">
      function hide() {
        setTimeout(() => {
        const box = document.getElementById('box');
        box.style.display = 'none';
        }, 3000);
      }

if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>  
<style type="text/css">
  #tab {
  border-collapse: separate;
  border-spacing: 0 15px;
}
tr:hover {
  border-color: red;
  border: 1px solid red;
}
</style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn"></i>&nbsp;&nbsp;&nbsp;
      <a href="{%url 'home'%}" class="logo d-flex align-items-center">
        <img src="{% static 'template1/assets/img/kr.png' %}" alt="">
        <span class="d-none d-lg-block">KRCT HR Portal</span>
      </a>
      
    </div>
    {%for message in messages%}
    <div id="box" class="shadow p-3 mb-4 justify-content-center  text-center text-dark w-25 alert {{ message.tags }} alert-dismissible" role="alert" style="margin-top: 50px;" >
         {{message}}
         <body onLoad="hide();">
      </div> <br> 
      {%endfor%}

        
    
      


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">



       
   

        <li class="nav-item  pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#">
            
            <span class="d-none d-md-block ps-2"><a href="{%url 'logout'%}" style="text-align: center;">Logout</a></span>
          </a><!-- End Profile Iamge Icon -->

        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

<!-- End Components Nav -->
<!-- End Icons Nav -->

    

      <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'shortlisted' %}">
          <i class="bi bi-stack"></i>
          <span>View Shortlisted</span>
        </a>
      </li><!-- End Profile Page Nav -->

<!-- End F.A.Q Page Nav -->

 <!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->





          <main class="main container-fluid" id="main">


                
                  <h5 class="card-title">Applicants <span></span></h5>
                  <form method="POST">
                    {%csrf_token%}
                  <div class="shadow-lg bg-gray p-3">
                  <table  id="tab" class="w-75 align-items-center">
                    <strong>Journal Publication</strong>
                    <thead>

                      <tr>
                        <th scope="col">Author </th>
                        <th scope="col">Title</th>
                        <th scope="col">Name</th>
                        <th scope="col">Indexed</th>
                        <th scope="col">Non-Indexed</th>
                      </tr>
                    </thead>

                 <form method="POST">
                    {%csrf_token%}
                    <tbody >
                      {%for p in journal%}
                      <tr >
                        <td><div class="shadow-sm bg-body w-75 p-3">{{p.author}}</div></td>
                        <td><div class="shadow-sm bg-body w-75 p-3">{{p.author}}</div></td>
                        <td><div class="shadow-sm bg-body w-75 p-3">{{p.journal_name}}</div></td> 
                        {%if p.indexed == True%}
                        <td><button  name = "indexed" value='{{p.id}}' style="color: grey;" disabled="True">Indexed</button></td>
                        {%else%}
                        <td><button  name = "indexed" value='{{p.id}}' class="btn btn-success" >Indexed</button></td>
                        {%endif%}

                        {%if p.unindexed == True%}
                        <td><button  name = "unindexed" value='{{p.id}}' style="color: grey;" disabled="True">Non-Indexed</button></td>
                        {%else%}
                        <td><button  name = "unindexed" value='{{p.id}}' class="btn btn-success" >Non-Indexed</button></td>
                        {%endif%}
                      </tr>
                      {%endfor%}
                    </tbody>
                  </form>
                      
                  </table>
                </div><br><br>
                <div class="shadow-lg bg-gray p-3">
                  <table  id="tab" class="w-75">
                    <strong>Conference</strong>
                    <thead>

                      <tr>
                        <th scope="col">Author </th>
                        <th scope="col">Title</th>
                        <th scope="col">Conference Name</th>
                      </tr>
                    </thead>

    
                    <tbody >
                      {%for p in conference%}
                      <tr >

                        <td><div class="shadow-sm bg-body w-75 p-3">{{p.author}}</div></td>
                        <td><div class="shadow-sm bg-body w-75 p-3">{{p.author}}</div></td>
                        <td><div class="shadow-sm bg-body w-75 p-3">{{p.conference_name}}</div></td> 
                       <!-- <td><div class="shadow-sm bg-body w-75 p-3"><input type="radio" id="html" name="fav_language" value="HTML"><label for="html">Indexed</label>&nbsp;&nbsp;&nbsp;<br><input type="radio" id="css" name="fav_language" value="CSS"><label for="css">UnIndexed</label></div></td>
                      </tr>-->
                      {%endfor%}
                    </tbody>                    
                      
                  </table>
                </div><br><br>
                <div class="shadow-lg bg-gray p-3">
                  <table  id="tab" class="w-75">
                    <strong>Patent Details</strong>
                    <thead>

                      <tr>
                        <th scope="col">Author </th>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead><br><br>

    
                    <tbody >
                      {%for p in patent%}
                      <tr >

                        <td><div class="shadow-sm bg-body w-75 p-3">{{p.author}}</div></td>
                        <td><div class="shadow-sm bg-body w-75 p-3">{{p.author}}</div></td>
                        <td><div class="shadow-sm bg-body w-75 p-3">{{p.status}}</div></td> 
                        <!--<td><div class="shadow-sm bg-body w-75 p-3"><input type="radio" id="html" name="fav_language" value="HTML"><label for="html">Indexed</label>&nbsp;&nbsp;&nbsp;<br><input type="radio" id="css" name="fav_language" value="CSS"><label for="css">UnIndexed</label></div></td>
                      </tr>-->
                      {%endfor%}
                    </tbody>                    
                      <td><button><a href="{%url 'rnd'%}">Ok</a></button></td>
                  </table>
                </div>

                  </form>
                

              </div>
            </div> 
          </main>


  <!-- End #main <div class="shadow-sm bg-body w-75 p-3"><input type="radio" id="html" name="fav_language" value="HTML"><label for="html">Indexed</label>&nbsp;&nbsp;&nbsp;<br><input type="radio" id="css" name="fav_language" value="CSS"><label for="css">UnIndexed</label></div>-->

  <!-- ======= Footer ======= -->




  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{%static 'template1/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{%static 'template1/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'template1/assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{%static 'template1/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{%static 'template1/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{%static 'template1/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{%static 'template1/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{%static 'template1/assets/vendor/php-email-form/validate.js' %}"></script>


  <script src="{%static 'template1/assets/js/main.js' %}"></script>
  <script type="text/javascript">
    function cl(){
      var inn = document.getElementById("in");
      var un = document.getElementById("un");
      if(inn.clicked == true){
        inn.disabled = true;
        un.disabled = false;
      }
      if(un.clicked == true){
        un.disabled = true;
        inn.disabled = false;
      }
      
    }
  </script>
</body>

</html>